Repository konn/computational-algebra: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-build-workflow, generate-build-workflow (lib.dhall)

generate-build-workflow:
  name: Generates GitHub Workflow from Dhall
  language: system
  entry: './scripts/dhall-to-yaml.sh
  
    '

generate-build-workflow (lib.dhall):
  name: Generates GitHub Workflow from Dhall
  language: system
  entry: './scripts/dhall-to-yaml.sh .github/workflows/haskell.dhall
  
    '

building document
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
Due: generate-build-workflow

Document
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
Due: generate-build-workflow

Stay
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
  .github/workflows/lib.dhall
  .github/workflows/pages.yml
  .pre-commit-config.yaml
Due: generate-build-workflow, generate-build-workflow (lib.dhall)

Pages generation test
  .github/workflows/pages.dhall
  .github/workflows/pages.yml
Due: none

Quote and drops 9.2.1
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
  .github/workflows/pages.dhall
  .github/workflows/pages.yml
Due: generate-build-workflow

Reduces test cases (sad...)
  halg-algorithms/test/Algebra/Algorithms/Groebner/HomogeneousSpec.hs
Due: none

Docs artifacts
  .github/workflows/pages.dhall
  .github/workflows/pages.yml
Due: none

Fixes GitHub Actions and deprecate gitlab CI (#17)
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
  .github/workflows/lib.dhall
  .github/workflows/pages.dhall
  .github/workflows/pages.yml
  .gitlab-ci.disabled.yml
  .pre-commit-config.yaml
  dockerfiles/gha/Dockerfile
  halg-algorithms/test/Algebra/Algorithms/Groebner/F4Spec.hs
  halg-algorithms/test/Algebra/Algorithms/Groebner/HomogeneousSpec.hs
  halg-core/src/Algebra/Internal.hs
  halg-partial-fraction/halg-partial-fraction.cabal
  halg-partial-fraction/package.yaml
  scripts/dhall-to-yaml.sh
  stack-9.0.1.yaml
  stack-9.0.2.yaml
Due: generate-build-workflow, generate-build-workflow (lib.dhall)

Drops RePa
  computational-algebra/bench/faugere4.hs
  halg-matrices/app/gauss-bench.hs
  halg-matrices/halg-matrices.cabal
  halg-matrices/package.yaml
  halg-matrices/src/Algebra/Matrix/RepaIntMap.hs
  stack-804.yaml
  stack-808.yaml
  stack-9.0.2.yaml
  stack-9.2.1.yaml
  stack-9.2.1.yaml.lock
  stack-prof.yaml
Due: none

Enables GHC 9.2.1 test
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
Due: generate-build-workflow

Revives unintended removal
  stack-8.10.7.yaml
Due: none

Scheduled run of GHA (to make cache alive)
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
Due: generate-build-workflow

04:00 AM JST
  .github/workflows/haskell.dhall
  .github/workflows/haskell.yml
Due: generate-build-workflow

9.0.2: Switches to the most recent nightly
  stack-9.0.2.yaml
Due: none

Generation path change
  .github/dhall/haskell.dhall
  .github/dhall/lib.dhall
  .github/dhall/pages.dhall
  .pre-commit-config.yaml
  scripts/dhall-to-yaml.sh
Due: none

Newer package for subcategories for 9.2
  stack-9.2.1.yaml
  stack-9.2.1.yaml.lock
Due: none

Version constraints for GHC 9.2
  stack-9.2.1.yaml
  stack-9.2.1.yaml.lock
Due: none

Drops Repa support (#18)
  .github/dhall/haskell.dhall
  .github/dhall/lib.dhall
  .github/dhall/pages.dhall
  .github/workflows/haskell.yml
  .pre-commit-config.yaml
  computational-algebra/bench/faugere4.hs
  halg-matrices/app/gauss-bench.hs
  halg-matrices/halg-matrices.cabal
  halg-matrices/package.yaml
  halg-matrices/src/Algebra/Matrix/RepaIntMap.hs
  scripts/dhall-to-yaml.sh
  stack-8.10.7.yaml
  stack-8.10.7.yaml.lock
  stack-804.yaml
  stack-808.yaml
  stack-9.2.1.yaml
  stack-9.2.1.yaml.lock
  stack-prof.yaml
Due: none

Migrates to newer LTS
  .pre-commit-config.yaml
  TAGS
  app/Instances.hs
  app/Lenses.hs
  app/Main.hs
  app/Settings.hs
  hie.yaml
  site.cabal
  stack.yaml
  stack.yaml.lock
Due: none

Corrects docs extraction
  .github/dhall/pages.dhall
  .github/workflows/pages.yml
  stack-8.10.7.yaml.lock
Due: none

Corrects docs extraction (#19)
  .github/dhall/pages.dhall
  .github/workflows/pages.yml
  stack-8.10.7.yaml.lock
Due: none

Pages action
  .github/dhall/haskell.dhall
  .github/dhall/lib.dhall
  .github/dhall/pages.dhall
  .github/workflows/haskell.yml
Due: none

Update pages
  .github/workflows/pages.yml
Due: none

Removes dirty directory
  docs
Due: none

STACK_YAML
  .github/dhall/haskell.dhall
  .github/workflows/haskell.yml
Due: none

No container needed
  .github/dhall/haskell.dhall
  .github/workflows/haskell.yml
Due: none

Freezes imports
  .github/dhall/lib.dhall
  .github/dhall/pages.dhall
Due: none

All or nothing
  .pre-commit-config.yaml
  scripts/dhall-to-yaml.sh
Due: none

change yaml extension
  scripts/dhall-to-yaml.sh
Due: none

That's too bad...
  .github/dhall/haskell.dhall
  .github/workflows/haskell.yml
Due: none

oops
  scripts/dhall-to-yaml.sh
Due: none

site build
  .github/dhall/haskell.dhall
  .github/workflows/haskell.yml
Due: none

What the...
  .github/dhall/haskell.dhall
  .github/dhall/pages.dhall
  .github/workflows/haskell.yml
  stack.yaml.lock
Due: none

Removes some deps
  .gitignore
  app/Instances.hs
  app/Main.hs
  site
  site.cabal
Due: none

corrects bins
  .github/dhall/haskell.dhall
  .github/workflows/haskell.yml
Due: none

Corrects paths
  app/Main.hs
Due: none

compiles template
  app/Main.hs
Due: none

Corrects link
  index.md
Due: none

Caching for sites
  .github/dhall/haskell.dhall
  .github/workflows/haskell.yml
Due: none

install!
  .github/dhall/haskell.dhall
  .github/workflows/haskell.yml
Due: none

Path conditions:
  generate-build-workflow: any of: \.github/workflows/haskell\.dhall$
  generate-build-workflow (lib.dhall): any of: \.github/workflows/lib\.dhall$
